doctype html
html
  head
    title Sample Forum
    link(rel="stylesheet" type="text/css" href="/stylesheets/application.css")
    script(src="/javascripts/application.js")
  body
    header
      .header-content
        a.link-title(href="/forum?page=1")
          h1 Sample Forum
        .link-title
          a(href="/posts/manage" class="post-management-button") Post Management
        .link-title
          a(href="/posts/new" class="post-management-button") Create New Post
    
        block signOut

          form(action="/users/signout", method="POST")
            button(type="submit" class="sign-out-button") Sign Out
            p=username

    main
      - let kinds = Object.keys(flash || {});
      if kinds.length > 0
        ul
          each kind in kinds
            each message in flash[kind]
              li.flash(class=kind)= message

      block content  

  footer