extends layout

block content
  .new-comment
    h1 Create New Comment
    form(action=`/posts/${postId}/comment/new?page=${pageNumber}`, method="POST")
      label(for="comment") Comment Text
      textarea#comment-text(name="comment" rows="5")
      button(type="submit") Create Comment

  a.back-button(href=`/posts/${postId}?page=${pageNumber}`) Back
