extends layout

block content
  .post-management-container
    h1 Post Management
    table
      thead
        tr
          th Post Title
          th Post Date
          th Actions
          th

      tbody
        each post in userPosts
          tr
            td= post.title
            td= post.formatted_date
            td
              form(action=`/post-management/edit/${post.id}`, method="GET")
                button(type="submit") Edit
            td
              form.delete(action=`/post-management/delete/${post.id}`, method="POST")
                button(type="submit") Delete

  p
    a.post-management-button(href='/forum?page=1') Back to Forum
